<div class="container" style="padding:5%">
    <div class="card card-header">
        <ngb-tabset class="nav-fill">
            <ngb-tab title="Sign Up">
                <ng-template ngbTabContent>
                    <form #info="ngForm" (ngSubmit)="onSignUp(info)">
                        <div class="form-row" style="padding-top:2%">
                            <div class="col-md-6">
                                <label for="fName">First Name: <span><a style="color:red">*</a></span> </label>
                                <input [(ngModel)]="info.fName" name="fName" type="text" class="form-control" placeholder="Jane" required>
                            </div>
                            <div class="col-md-6">
                                <label for="lName">Last Name: <span><a style="color:red">*</a></span> </label>
                                <input [(ngModel)]="info.lName" type="text" name="lName" class="form-control" placeholder="Doe" required>
                            </div>
                        </div>
                        <div class="form-row" style="padding-top:2%">
                            <div class="col-md-6">
                                <label>Gender: <span><a style="color:red">*</a></span></label>
                                <br>
                                <label class="radio" for="maleGender">
                                <input [(ngModel)]="info.gender" type="radio" name="maleGender" name = "gender" value="male" required>
                                          Male
                                    </label>
                                <label class="radio" for="femaleGender">
                                        <input [(ngModel)]="info.gender" type="radio" name="femaleGender" name = "gender" value="female">
                                      Female
                                </label>
                                <label class="radio" for="otherGender">
                                    <input [(ngModel)]="info.gender" type="radio" name="otherGender" name = "gender" value="other">
                                  Other
                            </label>
                                <label class="radio" for="optNotToSayGender">
                                <input [(ngModel)]="info.gender" type="radio" name="optNotToSayGender" name = "gender" value="optNotToSay">
                              Opt Not to Say
                        </label>
                            </div>
                            <div class="col-md-6">
                                <label>Username: <span><a style="color:red">*</a></span></label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@</div>
                                    </div>
                                    <input [(ngModel)]="info.username" type="text" name="username" class="form-control" id="inlineFormInputGroup" placeholder="Username" required>
                                </div>
                            </div>

                        </div>
                        <div class="form-row" style="padding-top:2%">
                            <div class="col-md-6">
                                <label for="signupEmail">Enter Email Address: <span><a style="color:red">*</a></span> </label>
                                <input [(ngModel)]="info.email" name="email" type="email" id="signupEmail" class="form-control" placeholder="example@email.com" required>
                            </div>
                            <div class="col-md-6">
                                <label for="signupPassword">Enter Password: <span><a style="color:red">*</a></span> </label>
                                <input [(ngModel)]="info.password" name="password" type="password" id="signupPassword" class="form-control" placeholder="Password" required>
                            </div>
                        </div>
                        <div style="justify-content:center; display:flex; padding-top:2%;">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Sign In">
                <ng-template ngbTabContent>
                    <form>
                        <div class="form-row" style="padding-top:2%">
                            <div class="col-md-6">
                                <label for="loginEmail">Enter Email Address: <span><a style="color:red">*</a></span> </label>
                                <input type="email" id="loginEmail" class="form-control" placeholder="example@email.com" required>
                            </div>
                            <div class="col-md-6">
                                <label for="loginPassword">Enter Password: <span><a style="color:red">*</a></span> </label>
                                <input type="password" id="loginPassword" class="form-control" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-row" style="padding-top:2%;">
                            <label class="form-check-label" for="rememberMe">
                                    <input type="checkbox" id="rememberMe">
                                  Remember me
                            </label>
                        </div>
                        <div style="justify-content:center; display:flex; padding-top:2%;">
                            <button type="submit" class="btn btn-primary">Sign In</button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Table">
                <ng-template ngbTabContent>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Password</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let detail of info">
                                <th scope="row">{{detail.fName}}</th>
                                <td>{{detail.lName}}</td>
                                <td>{{detail.gender}}</td>
                                <td>{{detail.username}}</td>
                                <td>{{detail.email}}</td>
                                <td class="hidetext">{{detail.password}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Mark</th>
                                <td>Otto</td>
                                <td>Male</td>
                                <td>@motto</td>
                                <td>otto.mark@example.com</td>
                                <td class="hidetext">hmark</td>
                            </tr>
                            <tr>
                                <th scope="row">Goks</th>
                                <td>Npn</td>
                                <td>Male</td>
                                <td>@goks</td>
                                <td>goks.npn@example.com</td>
                                <td class="hidetext">goksnpn</td>
                            </tr>
                            <tr>
                                <th scope="row">Michelle</th>
                                <td>Gu</td>
                                <td>Female</td>
                                <td>@michelle</td>
                                <td>michelle@example.com</td>
                                <td class="hidetext">michelleGu</td>
                            </tr>
                            <tr>
                                <th scope="row">Praman</th>
                                <td>Hamal</td>
                                <td>Male</td>
                                <td>@praman</td>
                                <td>praman.hml@example.com</td>
                                <td class="hidetext">hpraman</td>
                            </tr>
                            <tr>
                                <th scope="row">Sri</th>
                                <td>Harsha</td>
                                <td>Male</td>
                                <td>@sri</td>
                                <td>sri.harsha@example.com</td>
                                <td class="hidetext">sharsha</td>
                            </tr>
                            <tr>
                                <th scope="row">Akshay</th>
                                <td>paji</td>
                                <td>Male</td>
                                <td>@akshay</td>
                                <td>akshay.paji@example.com</td>
                                <td class="hidetext">pakshay</td>
                            </tr>
                            <tr>
                                <th scope="row">Satya</th>
                                <td>Narayanan</td>
                                <td>Male</td>
                                <td>@satya</td>
                                <td>satya@example.com</td>
                                <td class="hidetext">sNarayanan</td>
                            </tr>
                        </tbody>
                    </table>

                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>